In [1]:
import sys
import os
module_path = os.path.abspath("/Users/michaelweinold/github/aircraftdetective")
if module_path not in sys.path:
    sys.path.append(module_path)

from aircraftdetective.calculations import engines

In [2]:
import pandas as pd

In [6]:
pd.read_excel("https://www.easa.europa.eu/en/downloads/131424/en")

,Unnamed: 0,Issue,Date,Detail of Changes
0,NaN,NaN,NaN,NaN
1,NaN,30.0,2024-07-23 00:00:00,Issue 30 implemented on Website
2,NaN,NaN,NaN,NEW: New data for gaseous & nvPM emissions f...
3,NaN,NaN,NaN,Corrected [nvPM EInum Max] values ...
4,NaN,NaN,NaN,"01P18RR121-01P18RR124, 01P21RR125,..."
...,...,...,...,...
335,NaN,NaN,NaN,PW4168A
336,NaN,NaN,NaN,NaN
337,NaN,1.0,1998-03-10 00:00:00,First full issue of the databank on the internet
338,NaN,NaN,NaN,NaN
339,NaN,NaN,1995,"ICAO Engine Exhaust Emissions Databank, ICAO D..."

In [3]:
engines.determine_takeoff_to_cruise_tsfc_ratio(
    path_excel_engine_data_for_calibration="/Users/michaelweinold/Library/CloudStorage/OneDrive-TheWeinoldFamily/Documents/University/PhD/Data/Aircraft Performance/Engine Database (TSFC Data).xlsx"
)

(Polynomial([19.73263263,  4.2917748 ], domain=[ 7.72047244, 18.37173857], window=[-1.,  1.], symbol='x'),
 Polynomial([20.28613569,  4.28767803, -1.58473034], domain=[ 7.72047244, 18.37173857], window=[-1.,  1.], symbol='x'),
 np.float64(0.7876940784878377),
 np.float64(0.8074706697742047))

In [ ]:
engines.scale_engine_data_from_icao_emissions_database(
    path_excel_engine_data_icao_in = "https://www.easa.europa.eu/en/downloads/131424/en",
    path_excel_engine_data_icao_out: "calibrated_engine_data_icao.xlsx",
    scaling_polynomial: np.polynomial.Polynomial
)